body {
    background: url("/static/agro.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding-top: 50px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

h2 {
    color: #2e7d32;
    font-weight: bold;
}